footer {
    background-color: $white-color;
    font-size: $font-size-normal;
    .footer-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        padding-top: 30px;

        .link-container {
            display: flex;

            a {
                color: $dark-color;
                text-decoration: none;

                &.contact {
                    margin-right: 10px;
                }

                &.social-net {
                    margin-right: 20px;
                }
            }

            .img-social-net {
                display: flex;

                img {
                    height: 20px;
                    margin-right: 4px;
                    width: 20px;
                }
            }
        }

        img.logo {
            width: 115px;
        }
    }
}
