header {
    background-color: $white-color;
    box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, .16);
    font-size: $font-size-normal;
    position: fixed;
    width: 100%;
    z-index: 10;
    .header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 84px;

        img.logo {
            width: 115px;
        }

        .link-container {
            align-items: center;
            display: flex;

            & > * {
                margin-right: 30px;
            }

            & > :last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;

                &.logout {
                    color: $dark-color;
                }
            }
        }
    }
}
