div.site-container[data-namespace="student.login"] {
    overflow: hidden;
    position: relative;

    .img-container {
        bottom: -260px;
        position: absolute;
        right: -360px;
        div {
            img.img-sprinting {
                transform: rotateY(180deg) rotateZ(-17deg);
                width: 1000px;
            }
        }
    }

    .wrapper {
        padding-bottom: $padding-bot-wrapper;
        padding-top: 124px;
        display: flex;
        justify-content: space-around;

        form {
            background-color: $white-color;
            position: relative;
            width: 400px;

            .footer-form {
                a {
                    text-decoration: none;
                }
            }
        }

        h2 {
            max-width: 100%;
            width: 413px;
        }
    }
}
