div.site-container[data-namespace="teacher.space"] {

    .wrapper {
        padding-top: 124px;
        h2 {
            max-width: 100%;
            padding-bottom: 24px;
            width: 494px;
        }

        p {
            margin-bottom: 24px;
        }
    }
}
