div.site-container[data-namespace="home"] {

    section:nth-child(1) {
        background-color: $white-color;
        overflow: hidden;
        position: relative;

        img.circle-grey-shape {
            left: -190px;
            position: absolute;
            top: -90px;
            width: 660px;
        }

        .section-container {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding-bottom: 150px;
            padding-top: 150px;
            position: relative;

            img {
                max-width: 100%;
                width: 500px;
            }

            div {
                max-width: 100%;
                width: 500px;
                h2 {
                    margin-bottom: 24px;
                }

                p {
                    margin-bottom: 40px;
                }
            }
        }
    }

    section:nth-child(2) {
        background-color: $dark-grey-color;
        overflow: hidden;
        position: relative;

        img.circle-red-shape {
            bottom: -220px;
            position: absolute;
            right: -110px;
            width: 660px;
        }

        .section-container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 190px;
            padding-top: 190px;
            position: relative;

            div {
                max-width: 100%;
                width: 540px;

                h2 {
                    margin-bottom: 24px;
                }
            }

            img {
                max-width: 100%;
                width: 470px;
            }
        }
    }

    section:nth-child(3) {
        background-color: $white-color;

        .section-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-bottom: 300px;
            padding-top: 90px;

            div.text-header {
                h2 {
                    margin-bottom: 24px;
                }
                margin-bottom: 100px;
            }

            .carousel-container {
                align-items: center;
                display: flex;

                div#home-carousel {
                    overflow: hidden;
                    padding: 0 30px;
                    width: 600px;

                    .carousel-cell {
                        margin-right: 50px;
                        img {
                            height: 82px;
                            width: 82px;
                        }
                    }
                }

                .carousel-arow-next, .carousel-arow-prev {
                    cursor: pointer;
                    img {
                        width: 12px;
                    }
                }
            }
        }
    }

    section:nth-child(4) {
        background-color: $dark-color;

        .section-container {
            padding-bottom: 115px;
            position: relative;
            padding-top: 115px;
            text-align: center;

            img.img-chilling {
                left: 0;
                position: absolute;
                top: -170px;
                width: 350px;
            }

            h2 {
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 24px;
            }

            a.button {
                border-color: white;
                color: white;
            }
        }
    }
}
