body {
    background-color: $light-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    justify-content: space-between;
    min-height: 100vh;

    .site-container {
        flex: 1;
        padding-top: 84px;
        position: relative;
    }
}

h1 {
    color: $primary-color;
    font-family: 'Ubuntu', sans-serif;
}

// Wrapper of the website
.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    width: 1440px;
}

// Warning alert for teacher not validated
.warning-teacher-validation {
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
}

.circle-separator {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $dark-color;
}
