// Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

// Class typo
//-- colors
.color-dark {
    color: $dark-color;
}
.color-primary {
    color: $primary-color;
}
.color-white {
    color: $white-color;
}

//-- weight
.weight-light {
    font-weight: 300;
}
.weight-regular {
    font-weight: 400;
}
.weight-medium {
    font-weight: 500;
}
.weight-bold {
    font-weight: bold;
}

//-- size
.size-normal {
    font-size: $font-size-normal;
    line-height: 24px;
}
.size-big {
    font-size: $font-size-big;
    line-height: 36px;
}
.size-title {
    font-size: $font-size-title;
    line-height: 42px;
}

//-- decoration
.text-underline {
    text-decoration: underline;
}
