div.site-container[data-namespace="teacher.login"] {
    overflow: hidden;
    position: relative;

    .img-container {
        bottom: -160px;
        position: absolute;
        right: 70px;
        div {
            img.img-reading {
                width: 450px;
            }
        }
    }

    .wrapper {
        padding-bottom: $padding-bot-wrapper;
        padding-top: $padding-top-wrapper;
        display: flex;
        justify-content: space-around;

        form {
            background-color: $white-color;
            position: relative;
            width: 400px;

            .footer-form {
                a {
                    text-decoration: none;
                }
            }
        }

        h2 {
            max-width: 100%;
            width: 480px;
        }
    }
}
