.dashboard-wrapper {
    display: flex;
    height: 100%;

    div.dashboard-menu-container {
        box-sizing: border-box;
        height: 100%;
        position: fixed;
    }

    div.dashboard-content {
        margin-left: 270px;
        padding: 40px;
        width: 100%;

        h1.dashboard-content-title {
            color: $dark-color;
            font-size: $font-size-big;
            font-weight: 300;
            padding-bottom: 36px;
        }

        p.dashboard-content-description {
            font-size: $font-size-normal;
            font-weight: 300;
            padding-bottom: 28px;
        }

        .d-container {
            background-color: $white-color;
            box-sizing: border-box;
            padding: 40px;
        }
    }
}
