%alert {
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.alert {
    &--warning {
        @extend %alert;
        background-color: orange;
    }

    &--error {
        @extend %alert;
        background-color: #ff0e11;
    }

    &--success {
        @extend %alert;
        background-color: limegreen;
    }
}
