.button {
    border-color: #263646;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-normal;
    outline: none;
    padding: 16px 32px;
    text-decoration: none;

    &--red {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white-color;

        &:hover {
            background-color: transparent;
            color: $primary-color;
        }
    }

    &--dark {
        background-color: $dark-color;
        border-color: $dark-color;
        color: $white-color;

        &:hover {
            background-color: transparent;
            color: $dark-color;
        }
    }

    &--empty {
        background-color: none;
        border-color: $dark-color;
        color: $dark-color;

        &:hover {
            background-color: $dark-color;
            color: $white-color;
        }
    }
}
