form {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    box-sizing: border-box;
    padding: 52px 34px 80px 32px;

    .header-form {
        margin-bottom: 54px;
    }

    .content-form {
        div.fieldset {
            small {
                color: $primary-color;
                font-size: 12px;
            }
        }

        div.fieldset-text,
        div.fieldset-password,
        div.fieldset-file {
            margin-bottom: 24px;
            position: relative;
            input {
                box-sizing: border-box;
                border: none;
                border-bottom: 1px solid $light-color;
                font-size: $font-size-normal;
                outline: none;
                padding: 10px 0;
                width: 100%;

                &.has-error {
                    border-bottom: 1px solid $primary-color;
                }

                &:focus ~ label, &:valid ~ label {
                    color: $primary-color;
                    opacity: 1;
                    font-size: 12px;
                    top: -12px;
                }

                &:focus {
                    border-bottom: 1px solid $primary-color;
                }
            }

            label.form-label {
                color: $dark-color;
                left: 0;
                opacity: .5;
                pointer-events: none;
                position: absolute;
                top: 10px;
                transition: .3s;
            }
        }

        div.fieldset-textarea {
            textarea {
                display: block;
                &.has-error {
                    border-bottom: 1px solid $primary-color;
                }
            }
        }

        button[type="submit"] {
            margin-top: 24px;
        }
    }

    .footer-form {
        margin-top: 32px;
    }
}
