nav.menu {
    background-color: $dark-color;
    box-sizing: border-box;
    color: $white-color;
    height: 100%;
    padding-top: 40px;
    width: 270px;
    .menu-header {
        padding: 0 20px 30px 20px;
    }

    .menu-list {
        .menu-list-item {
            height: 60px;

            a {
                align-items: center;
                box-sizing: border-box;
                color: white;
                display: flex;
                height: 100%;
                padding: 0 20px;
                text-decoration: none;
                width: 100%;
                i.icon-item {
                    font-size: 20px;
                }
                span.text-item {
                    margin-left: 15px;
                }

                &.active {
                    background-color: #141D29;
                }

                &:hover {
                    background-color: #141D29;
                }
            }
        }
    }

    .menu-footer {

    }
}
