// This component overide bootstrap
.pagination {
    margin-top: 44px;
    .page-item {
        color: $dark-color;

        .page-link {
            color: $dark-color;
        }

        &.active {
            .page-link {
                background-color: $dark-color;
                border-color: $dark-color;
                color: $white-color;
            }
        }
    }
}
