table {
    th {
        font-weight: $font-weight-base;
        text-align: left;
    }
    tbody {
        font-weight: 300;

        td {
            padding-bottom: 16px !important;
            padding-top: 16px !important;
        }
    }
}
