div.site-container[data-namespace="teacher.dashboard.course.create"] {
    form {
        box-shadow: none;
        padding-top: 0;

        /* Input select for category */
        div.fieldset-category {
            margin-bottom: 24px;

            label {
                display: inline-block;
                padding-bottom: 4px;
            }
        }

        /* Input select for visibility */
        div.fieldset-visibility {
            margin-bottom: 24px;

            label {
                display: inline-block;
                padding-bottom: 4px;
            }
        }

        /* Input text editor */
        label[for="content"] {
            display: inline-block;
            padding-bottom: 4px;
        }
        div#content {
            height: 300px;
        }

        div.footer-form {
            div.alert--error, div.alert--success {
                display: none;
                margin-top: 12px;
            }
        }
    }
}
