div.site-container[data-namespace="course.all"] {

    a {
        text-decoration: none;
        color: inherit;
    }

    .wrapper {
        padding-top: 70px;
        padding-bottom: 70px;

        h1 {
            text-align: center;
        }

        form {
            display: block;
            margin: 28px auto;
            padding: 0;
            width: 640px;

            .search-bar {
                display: flex;
                input {
                    border: none;
                    padding: 16px;
                    outline: none;
                    width: 100%;
                }

                select {
                    border: none;
                }

                button {
                    background-color: $primary-color;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    box-sizing: border-box;
                    width: 50px;
                }
            }
        }

        .content-courses {
            width: 60%;
            margin: auto;
            margin-bottom: 40px;
        }

        .container-course {
            background-color: $white-color;
            padding: 20px;
            margin-bottom: 30px;
            //border: 1px solid lightgrey;
            box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.16);
            border-radius: 7px;
            cursor: pointer;
        }

        .item-course-title {
            font-size: 18px;
        }

        .item-course-category {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.8rem;
            color: rgb(187, 153, 36);
            text-transform: uppercase;
        }

        .item-course-metadata {
            align-items: center;
            display: flex;
            margin-top: 4px;

            .author {
                color: red;
                font-size: 12px;
                font-weight: 300;
            }

            .date {
                color: $dark-color;
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}
