div.site-container[data-namespace="course.edit"] {
    h1.page-title {
        color: $dark-color;
        font-size: 26px;
        margin: 40px 0 36px 0;
    }

    .page-description {
        font-weight: 300;
        padding-bottom: 28px;
    }

    form {
        background-color: $white-color;
        box-shadow: none;

        /* Input select for category */
        div.fieldset-category {
            margin-bottom: 24px;

            label {
                display: inline-block;
                padding-bottom: 4px;
            }
        }

        /* Input select for visibility */
        div.fieldset-visibility {
            margin-bottom: 24px;

            label {
                display: inline-block;
                padding-bottom: 4px;
            }
        }

        /* Input text editor */
        label[for="content"] {
            display: inline-block;
            padding-bottom: 4px;
        }
        div#content {
            height: 300px;
        }

        textarea#hidden-content {
            display: none;
        }

        div.footer-form {
            div.alert--error, div.alert--success {
                display: none;
                margin-top: 12px;
            }
        }
    }
}
