div.site-container[data-namespace="course.show"] {
    .wrapper {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        position: relative;

        div.course-container {
            max-width: 600px;

            h1.course-title {
                color: $dark-color;
                margin-bottom: 40px;
            }

            h1 {
                font-size: 36px;
            }

            h2 {
                font-size: 26px;
            }

            p {
                font-weight: 300;
                padding: 8px 0;
                line-height: 24px;
            }

            strong {
                font-weight: 500;
            }
        }

        aside {
            background-color: $white-color;
            box-sizing: border-box;
            box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.16);
            display: block;
            padding: 32px 16px;
            position: sticky;
            min-width: 300px;
            height: auto;
            top: 120px;

            h3.aside-title {
                font-size: 24px;
                margin-bottom: 12px;
            }

            ul.random-course-list {
                li {
                    cursor: pointer;

                    &:hover {
                        background-color: $light-color;
                    }

                    a {
                        display: block;
                        padding: 16px;
                        color: $dark-color;
                        text-decoration: none;

                        .item-course-title {
                            font-size: 18px;
                        }

                        .item-course-metadata {
                            align-items: center;
                            display: flex;
                            margin-top: 4px;

                            .author {
                                color: red;
                                font-size: 12px;
                                font-weight: 300;
                            }

                            .date {
                                color: $dark-color;
                                font-size: 12px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}
