// Colors
$primary-color: #FF5578;
$secondary-color: #BE7575;
$dark-color: #263646;
$light-color: #F7F7F7;
$white-color: #FFFFFF;
$dark-grey-color: #E4E4E4;

// Font
// -- family
$main-font: "Ubuntu", sans-serif;
// -- size
$font-size-normal: 16px;
$font-size-big: 26px;
$font-size-title: 36px;

// Padding
$padding-top-wrapper: 124px;
$padding-bot-wrapper: 100px;

