div.site-container[data-namespace="admin.login"] {
    .wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;

        form {
            background-color: white;
            margin-top: 80px;
            width: 400px;

            .header-form {
                text-align: center;
                img {
                    margin: 0 auto;
                    padding-bottom: 20px;
                    width: 60px;
                }
            }
        }
    }
}
